header {
  width: 100%;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
}


p {
  width: 50vw;
  font-size: 1.5rem;
}

nav span:hover {
  color: green;
  position: relative;
  top: 10px;
}

.caption {
  position: absolute;
  bottom: 30px;
}

.image-container {
  position: relative;
}